 <div class="fields">
 <%= f.label :description, "Description" %> 
 <%= f.text_field :description %><br />
 </div>
 <div class="fields">
 <%= f.label :priority, "priority" %> 
 <%= f.text_field :priority %><br />
 </div>